.modal-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
}

.modal-button:hover {
    background-color: rgba(85, 87, 86, 0.5);
    border-radius: 5px;
    cursor: pointer;
}