.main-container {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.sidebar-container {
    background-color: rgb(26, 28, 28);
    flex: 0 0 300px;
    height: 100%;
}

.channel-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 52, 54);
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 0 0 20px 20px; */
}

.title-container {
    display: flex;
    padding-left: 20px;
    border-bottom: solid #80D2DE 0.5px;
}


.channel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: #EBB424 solid 0.5px;
    border-left: #49C39E .5px solid;
    background-color: rgb(44, 52, 54);
}

.channel-name {
    padding: 5px;
}

.upper-left a:active,
.upper-left a.active,
.upper-left a {
    color: rgb(226, 224, 224);
}

.upper-left a:hover {
    background-color: rgba(85, 87, 86, 0.5);
    border-radius: 5px;
}

.main-channels {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-channels a:hover {
   background-color: rgba(74, 76, 75, 0.5);
}

.name {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: rgb(226, 224, 224);
    border: none;
    padding: 5px 20px;
}

.sidebar-container-home {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

.create-channel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.hidden {
    display: none
}

.info-dropdown {
    position: absolute;
    margin-top: 10px;
    z-index: 10;
}

.dropdown-menu {
    align-items: center;
    align-content: flex-end;
    background-color: rgb(26, 28, 28);
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    color: rgb(226, 224, 224);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 0.25rem;
    height: auto;
    list-style: none;
    padding: 0.75rem;
    position: absolute;
    right: 0;
    top: calc(100% + 0.25rem);
}

.dropdown-menu .user-info {
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
}

.logout {
    background: none;
    border: none;
    width: 80px;
    height: 30px;
    color: rgb(226, 224, 224);
}

.logout:hover {
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
}

.edit-input {
    padding-left: 40px;
}

.user-number {
    color: white;
}

.edit-form-errors {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 12px;
    color: red;  
}

.channel-container-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(44, 52, 54);
    width: 100%;
}

.channel-container-body i {
    align-items: center;
    display: flex; 
    justify-content: center;
    font-size: 175px;
    color: rgb(142, 142, 142);
    margin: 0;
}