.main-container {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.sidebar-container {
    color: white;
    background-color: rgb(26, 28, 28);
    flex: 0 0 300px;
    height: 100%;
}

.channel-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 52, 54);
    border-left: solid #E51670 0.5px;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 20px 20px;
    border-bottom: solid #80D2DE 0.5px;
    margin-bottom: 0;
}


.channel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: #EBB424 solid 0.5px;
    color: white;
}

.channel-name {
    padding: 5px;
}

.upper-left a:active,
.upper-left a.active,
.upper-left a {
    color: white;
}

.upper-left a:hover {
    background-color: rgba(74, 76, 75, 0.5);
}

.main-channels {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-channels a:hover {
   background-color: rgba(74, 76, 75, 0.5);
}

.name {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px 20px;
}

.sidebar-container-home {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

.create-channel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.loginSign-button {
    margin-right: 40px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 25px;
}

.loginSign-button:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: gray;
    border-radius: 5px;
}

.login-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px;
    height: 38px;
    width: 100px;
    transition: border 0.5s;
    font-size: 16px;
}

.login-button:hover{
    border: 2.5px solid white;
}

.signup-button {
    background-color: white;
    color: #400d40;
    border: 1px solid white;
    height: 38px;
    width: 100px;
    border-radius: 4px;
    padding: 4px;
    transition: border 0.5s;
    font-size: 16px;
}

.signup-button:hover {
    border: 2.5px solid #400d40;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.hidden {
    display: none
}

.info-dropdown {
    position: absolute;
    margin-top: 10px;
    z-index: 10;
}

.dropdown-menu {
    align-items: center;
    align-content: flex-end;
    background-color: rgb(74, 76, 75);
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 0.25rem;
    height: auto;
    list-style: none;
    padding: 0.75rem;
    position: absolute;
    right: 0;
    top: calc(100% + 0.25rem);
}

.dropdown-menu .user-info {
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
}

.logout {
    background: none;
    border: none;
    width: 80px;
    height: 30px;
    color: white;
}

.logout:hover {
   color: white;
}

.edit-input {
    padding-left: 40px;
}

.user-number {
    color: white;
}