.edit-delete-buttons {
    display: flex;
    flex-direction: row;
}

.channel-info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 300px);
    position: relative;
    background-color: rgb(44, 52, 54);
    color: white
}

.channel-description {
    padding-left: 40px;
    color: white;
}

.edit-delete-buttons {
    padding-left: 40px;
}

.edit {
    margin-right: 10px;
    color:white;
    font-weight: bold;
}

.delete {
    margin-left: 10px;
    color:white;
    font-weight: bold;
}