.edit-delete-buttons {
    display: flex;
    flex-direction: row;
}

.channel-info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 300px);
    position: relative;
    background-color: rgb(44, 52, 54);
    color: white;
    border-left: solid #E51670 0.5px;
    justify-content: flex-start;
}

.channel-description {
    padding-left: 40px;
    color: white;
    height: 100%;
}

.edit-delete-buttons {
    padding-left: 40px;
}

.edit {
    margin-right: 10px;
    color:white;
    font-weight: bold;
    border: solid white 1px;
    border-radius: 5px;
    padding: 5px;
}

.delete {
    margin-left: 10px;
    color:white;
    font-weight: bold;
    border: solid white 1px;
    border-radius: 5px;
    padding: 5px;
}

.edit:hover {
    background-color: rgba(85, 87, 86, 0.5);
    border-radius: 5px;
}

.delete:hover {
    background-color: rgba(85, 87, 86, 0.5);
    border-radius: 5px;
}