/* TODO Add site wide styles */
body,
html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: rgb(226, 224, 224);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}