.login-sign-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.login-sign-backdrop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 50px;
    background: linear-gradient(
        to right,
        /* rgb(255, 165, 165) 0%, */
        /* rgb(169, 228, 150) 25%, */
        rgb(219, 175, 244) 0%,
        rgb(157, 227, 239) 100%
  );
}

.login-sign-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.card-container h4 {
    margin: 5px 0;
}

.login-sign-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 1px solid;
    border-radius: 10px;
    padding: 20px 50px 40px;
    color: black;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.5);
}

.login-sign-input {
    width: 250px;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    border: solid black 1px;
    padding: 0 10px;
    background-color: transparent;
}

.login-sign-input::placeholder {
    color: black;
}

.login-sign-input:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 10px #000000;
}

.login-sign-button {
    display: flex;
    flex-direction: column;
}

.single-login {
    margin: 5px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 0;
}

.single-login:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.login-sign-form-errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: red;
}

.demo-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.demo-buttons button {
    padding: 10px;
}
