.splash-container {
    display: flex;
    height: 100%;
    width: 100%;
    /* overflow-y: auto; */
}

.splash-backdrop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* padding-bottom: 50px; */
    background: linear-gradient(
        to right,
        /* rgb(255, 165, 165) 0%, */
        /* rgb(169, 228, 150) 25%, */
        rgb(219, 175, 244) 0%,
        rgb(157, 227, 239) 100%
  );
}

.splash-card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.splash-card {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 10px;
    /* margin: 20px 50px 40px; */
    color: black;
}

.splash-card h1, h4 {
    margin: 0;
    padding-top: 5px;
}