.splash-container {
    display: flex;
    height: 100%;
    width: 100%;
    /* overflow-y: auto; */
}

.splash-backdrop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* padding-bottom: 50px; */
    background: linear-gradient(
        to right,
        /* rgb(255, 165, 165) 0%, */
        /* rgb(169, 228, 150) 25%, */
        rgb(219, 175, 244) 0%,
        rgb(157, 227, 239) 100%
  );
}

.splash-card-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
}

.splash-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: black;
    width: 100%;
    height: 100%;
    overflow: inherit;
    justify-content: space-between;
}

.splash-headers {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.splash-headers h1 {
    padding: 0 10px;
}

.splash-question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-img {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    padding: 25px;
}

.screen {
    border-radius: 10px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.5);
}

.splash-girl {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.splash-note {
    padding-right: 20px;
}

.splash-note a:active,
.splash-note a.active,
.splash-note a{
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.5);
}

.splash-note a:hover {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
    border: none;
    transition-duration: 0.75s;
}