.mc-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px;
    color: rgb(65, 30, 65);
}

.iedb-container {
    display: flex;
}

.edbe {
    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
}

.edbd {
    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
}

.edbe:hover {
    color: white;
}

.edbd:hover {
    color: white;
}

.semc-outer-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    height: 60vh;
    position: relative;
}

.semc-mid-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.unmcedb-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    align-items: flex-start;
    min-height: 25px;
    position: relative;
    /* justify-content: space-between; */
    /* width: 85%; */
}

.unmcedb-container:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.umc-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* width: 70%; */
}

.unmc {
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    overflow-x: auto;
}

.user-guy {
    display: flex;
    width: 30px;
    height: 30px;
    border: white solid 1px;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    margin-right: 5px;
    margin-top: 3px;
    color: white;
}

.mcontent {
    line-break: anywhere;
    color: white;
}

.un {
    font-weight: bold;
    color: white;;
}

@media screen and (max-width: 3200px) {
    .scif-container {
        min-height: 104px;
    }
}

.scif-container {
    display: flex;
    padding: 20px;
    position: relative;
    height: 80px;
    border-top: black solid 1px;
}


.scif-form {
    display: flex;
    /* width: 75%; */
    height: 80px;
    position: relative;
}

.scif-submit-button {
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.input-edit-message {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: black solid 2px;
    outline: none;
    font-weight: bold;
}

.input-message {
    position: relative;
    width: 100%;
    border: black solid 1px;
    resize: none;
    outline: none;
    padding: 15px 0px 0px 15px;
}

.scif-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 50%; */
    height: 100%;
}

.emc-form-container {
    display: flex;
    flex-direction: row;
}

.emc-form {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    height: 100%;
    border: none;
}

.submit-edit-button {
    background-color: transparent;
    font-weight: bold;
    border: none;
}

.submit-edit-button:hover {
    color: white;
}

.unmcedb-edit-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    align-items: flex-start;
    min-height: 25px;
    position: relative;
}