.mc-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    justify-content: space-evenly;
}

.chat-container {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    padding: 30px 30px 30px;
    color: rgb(65, 30, 65);
}

.iedb-container {
    display: flex;
}

.edbe {
    background-color: transparent;
    border: none;
    width: 100%;
}

.edbd {
    background-color: transparent;
    border: none;
    width: 100%;;
}

.edbe:hover {
    color: white;
}

.edbd:hover {
    color: white;
}

.semc-outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    height: 60vh;
}

.semc-mid-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.semc-inner-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    width: 100%;
}

.unmcedb-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    align-items: flex-start;
    min-height: 25px;
    /* width: 100%; */
    position: relative;
}

.unmcedb-container:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.unmc {
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow-y: hidden;
}

.user-guy {
    display: flex;
    margin-top: 5px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border: white solid 1px;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

.un {
    font-weight: bold;
}

@media screen and (max-width: 3200px) {
    .scif-container {
        min-height: 104px;
    }
}

.scif-container {
    display: flex;
    padding: 0 20px;
    position: relative;
    height: 80px;
}


.scif-form {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 80px;
    position: relative;
}

.input-message {
    position: relative;
}

.scif-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}