.chat-container {
    display: flex;
    /* width: 100%; */
    padding: 0 25px 30px
}
.messages-sent {
    margin-bottom: 20px;
}

.input-message {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 120px;
}